* {
	margin: 0;
	padding: 0;
}
.contaner {
	background-color:;
}
.button{
	display: inline-block;
	border: 2px solid #fff;
	padding:  10px 20px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
.button:hover{
	background: #fff;
	color: #000;
	
}
header {
	text-align: center;
	margin-top: 250px; 

}