html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.contaner {
	background-color:;
}
.button{
	display: inline-block;
	border: 2px solid #fff;
	padding:  10px 20px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
.button:hover{
	background: #fff;
	color: #000;
	
}

.topbox {
	float: right;
	margin-top: 10px

}

.Boxmanu {
    height: 60px;
    background-color: #7d7d7d;
}

.manu {
	display: block;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}
.status_bar {
    height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px; 
    
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    
}



.Mumu {
	
    background: #fff;
    height: 3.75rem;
    width: 1200px;
    
    margin: auto;
    float: center;
    margin-top: 390px;
    
}

.Mumu1 {
    height: 250px;
    width: 1200px;
    margin: auto;
    float: center;

    
}

.Box1 {
	display: block;
    width: 188px;
    height: 270px;
    background-color: #fff;
    margin-right: 12px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background: #fff;
}

.Box1:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-transform: all .3s ease-in-out;
    -ms-transform: all .3s ease-in-out;
    transform: all .3s ease-in-out;
    position: relative;
}
.align-left {
    float: left;
}

div {
    display: block;
}

.itemshop{
	width: 150px;
	height: 150px;
	margin-top: 20px;
	margin-left: 20px; 
}

.card-official-stores-h1, .card-official-stores-p {
    position: relative;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 20px;
}

.card-official-stores-h1 {
    font-size: 14px;
    color: #212121;
    line-height: 18px;
    margin: 8px 8px 4px;

}